<form [formGroup]="form" class="flex-center">
    <fieldset>
        <div class="mb-3">
            <label class="form-label" for="email">E-Mail</label>
            <input id="email" class="form-control" type="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input id="username" class="form-control" type="text" formControlName="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input id="password" class="form-control" type="password" formControlName="password">
        </div>
        <div class="flex-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </fieldset>
</form>